html {
  height: 100vh;
}
#body {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
}
.txt {
  border: solid red;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 .5px rgb(58, 58, 58);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.weather-p {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.weather-c {
  text-align: end;
}
.welcome-p {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.welcome-c {
  font-size: 5rem;
  letter-spacing: .6rem;
  font-weight: bolder;
}
.quote-p {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.todo-p{
  display: flex; 
  justify-content: flex-end;
}
.img-info-p {
  display: flex;
  justify-content: flex-start;
}
.top-r {
  height: 20vh;
}
.center-r {
  height: 50vh;
}
.bottom-r {
  height: 30vh;
}
.w-icon {
  margin-top: .1rem;
  margin-right: .1rem;
}