html {
  height: 100vh;
}
#body {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
}
.txt {
  /* border: solid red; */
  color: rgb(255, 255, 255);
  text-shadow: 0 0 .5px rgb(58, 58, 58);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.weather-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding-left: 1rem;
  height: 5rem;
  background-color: rgb(141, 141, 141, .6);
}
.weather-c {
  text-align: center;
}
.w-icon {
  margin-top: .1rem;
  margin-right: .5rem;
}
.welcome-p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(141, 141, 141, .6);
}
.welcome-c {
  font-size: 5rem;
  letter-spacing: .6rem;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}
.input {
  background: transparent;
  border: none;
  outline: none;
  width: 40vw;
  font-weight: bolder;
  font-size: 4rem;
  letter-spacing: .6rem;
  text-align: center;
}
.quote-p {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 22vh;
  height: auto;
  margin-top: 4vh;
  background-color: rgb(141, 141, 141, .6);
}
.quote-c {
  font-size: 1rem;
  letter-spacing: .1rem;
  /* font-weight: bolder; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
.todo-p {
  display: flex; 
  justify-content: flex-end;
  align-items: flex-end;
}
.todo-p2 {
  display: flex;
  height: 21vh;
  width: 20vw;
  margin-top: 1vh;
}
.todo-c1, .todo-c2 {
  height: 5vh;
}
.todo-c1 {
  display: flex;
  align-items: center;
}
.todo-c2 {
  display: flex;
  justify-content: flex-end;
}
.m-title {
  font-size: 1rem; 
  letter-spacing: .1rem;
  font-weight: bold;
  margin-top: .5rem;
  text-align: start;
}
.m-icon {
  font-size: 1rem;
  letter-spacing: .1rem;
  font-weight: bold;
  margin-top: .2rem;
  color: white;
  text-shadow: 0 0 .5px rgb(58, 58, 58);
}
.t-btn {
  background: transparent !important;
  transition: width 2s;
  /* justify-self: flex-end; */
  /* margin-top: .1rem; */
}
.m-input {
  
}
.img-info-p {
  display: flex;
  justify-content: flex-start;
}
.top-r {
  height: 20vh;
}
.center-r {
  margin-top: 15vh;
  height: 35vh;
}
.bottom-r {
  height: 30vh;
}
.btn {
  margin-right: .2rem;
  margin-bottom: 1.8rem;
  border-radius: 0;
  background-color: rgb(141, 141, 141, .6);  
}
